{{> header}}
<div class="headlines">
    <div class="theathletic">
        <h1>TheAthletic</h1>
        {{#if athletic}}
        {{#each athletic}}
        <h4><a href="{{url}}">{{title}}</a></h4>
        {{/each}}
        {{else}}
        <h1>No headline found</h1>
        {{/if}}
        <button type="button" class="morebtn"><a href="tennis-athletic">VIEW MORE</a></button>
    </div>



    <div class="theathletic">
        <h1>SkySports</h1>
        {{#if sky}}
        {{#each sky}}
        <h4><a href="{{url}}">{{title}}</a></h4>
        {{/each}}
        {{else}}
        <h1>No headline found</h1>
        {{/if}}
        <button type="button" class="morebtn"><a href="tennis-skysports">VIEW MORE</a></button>
    </div>


    <div class="theathletic">
        <h1>TheTelegraph</h1>
        {{#if telegraph}}
        {{#each telegraph}}
        <h4><a href="{{url}}">{{title}}</a></h4>
        {{/each}}
        {{else}}
        <h1>No headline found</h1>
        {{/if}}
        <button type="button" class="morebtn"><a href="tennis-telegraph">VIEW MORE</a></button>
    </div>


</div>